.timePicker {
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.timePicker p {
    width: 100%;
    margin-bottom: 10px;
    font-weight: lighter;
}

.timePicker input {
    width: 100%;
    padding: 8px 12px 8px 12px;
    border-radius: 10px;
    background-color: #eeeeee;
    outline: 1px solid #d5d5d5;
}
